.add-icon {
  font-size: 32px;
  vertical-align: text-top;
}

.card-container {
  margin: 0 -1rem;
}

.align-cards {
  margin: 1rem 1rem 1rem 1rem;
  display: inline-block;
  vertical-align: top;
  max-width: 250px;
  max-height: 200px;
}
