.dashboard-icon {
  vertical-align: middle;
  transform:scale(0.8);
}

.card-title {
  font-size: 1.4rem;
  flex-wrap: wrap;
}

.cover-image {
  transform: scale(1.8);
  margin-left: 0.9rem;
  margin-right: 0.7rem;
}
