.disable{
  cursor: not-allowed;
  pointer-events: none;
}

.bigger-font {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.big-icon {
  font-size: 40px;
}

.fix-height {
  min-height: 6ch;;
}

.layout {
  table-layout: fixed;
}
