<h1 class="page-subtitle">{{'AUTHENTICATION.TITLE' | customTranslate | translate}}</h1>
<p>{{'AUTHENTICATION.ANTI_PHISHING_INFO' | customTranslate | translate}}</p>
<div *ngIf="imageSrc && imageSrc.length">
  <img [src]="imageSrc" alt="" class="img-size"/>
</div>
<button (click)="onAddImg()" class="m-1" color="accent"
        mat-flat-button>{{'AUTHENTICATION.NEW_IMG' | customTranslate | translate}}</button>
<button (click)="onDeleteImg()" class="m-1" color="warn"
        mat-flat-button>{{'AUTHENTICATION.DELETE_IMG' | customTranslate | translate}}</button>

<h1 class="page-subtitle mt-5">{{'AUTHENTICATION.MFA' | customTranslate | translate}}</h1>
<button (click)="addTOTP()" class="mr-2" color="accent" mat-flat-button>{{'AUTHENTICATION.ADD_TOTP' | customTranslate | translate}}</button>
<button (click)="addWebAuthn()" class="mb-3" color="accent" mat-flat-button>{{'AUTHENTICATION.ADD_WEBAUTHN' | customTranslate | translate}}</button>

<app-alert *ngIf="!tokens.length" alert_type="info">{{'AUTHENTICATION.NO_TOKENS' | customTranslate | translate}}</app-alert>
<div [hidden]="!tokens.length">
  <mat-slide-toggle #toggle color="primary">{{'AUTHENTICATION.MFA_TOGGLE' | customTranslate | translate}}</mat-slide-toggle>
  <div [class.hide-table]="exporting" class="card mt-2">
    <div class="card-body">
      <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true"
                                    [exporter]="exporter"></perun-web-apps-table-options>
      <div class="overflow-auto">
        <table #exporter="matTableExporter" [dataSource]="dataSource" class="w-100" mat-table matTableExporter>
          <ng-container matColumnDef="type">
            <th *matHeaderCellDef class="pl-3"
                mat-header-cell>{{'AUTHENTICATION.TYPE' | customTranslate | translate}}</th>
            <td *matCellDef="let token" class="truncate pl-3" mat-cell>
              <img *ngIf="token.type === 'WEBAUTHN'" alt="" src="assets/img/webauthn-logo-black.png" style="width: 2rem; height: 2rem">
              <img *ngIf="token.type === 'TOTP'" alt="" src="assets/img/totp.svg" style="width: 2rem; height: 2rem">
            </td>
          </ng-container>
          <ng-container matColumnDef="nickname">
            <th *matHeaderCellDef class="pl-3"
                mat-header-cell>{{'AUTHENTICATION.NICKNAME' | customTranslate | translate}}</th>
            <td *matCellDef="let token" class="truncate pl-3" mat-cell>{{token.nickname}}</td>
          </ng-container>
          <ng-container matColumnDef="added">
            <th *matHeaderCellDef class="pl-3"
                mat-header-cell>{{'AUTHENTICATION.ADDED' | customTranslate | translate}}</th>
            <td *matCellDef="let token" class="truncate pl-3" mat-cell>{{token.added | parseDate: true}}</td>
          </ng-container>
          <ng-container matColumnDef="used">
            <th *matHeaderCellDef class="pl-3"
                mat-header-cell>{{'AUTHENTICATION.USED' | customTranslate | translate}}</th>
            <td *matCellDef="let token" class="truncate pl-3" mat-cell>{{token.used}}</td>
          </ng-container>
          <ng-container matColumnDef="revoke">
            <th *matHeaderCellDef class="pl-3"
                mat-header-cell></th>
            <td *matCellDef="let token" class="truncate pl-3" mat-cell>
              <button color="accent" mat-flat-button>{{'AUTHENTICATION.REVOKE' | customTranslate | translate}}</button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr
            *matRowDef="let key; columns: displayedColumns;"
            class="dark-hover-list-item"
            mat-row>
          </tr>
        </table>
      </div>

      <mat-paginator [length]="tokens.length" [pageSizeOptions]="[5,10,25]" [pageSize]="this.pageSize"></mat-paginator>
    </div>
  </div>
</div>
