<h1 mat-dialog-title>{{'DIALOGS.PASSWORD_RESET_REQUEST.TITLE'|translate}}</h1>
<div class="member-theme">
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
</div>

<div class="dialog-container member-theme" mat-dialog-content *ngIf="!loading">
  <mat-form-field>
    <mat-label>{{'DIALOGS.PASSWORD_RESET_REQUEST.NAMESPACE'|translate}}</mat-label>
    <mat-select [(value)]="selectedLogin">
      <mat-option *ngFor="let login of logins" [value]="login">
        {{login.friendlyNameParameter}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'DIALOGS.PASSWORD_RESET_REQUEST.LANGUAGE'|translate}}</mat-label>
    <mat-select [(value)]="selectedLang">
      <mat-option *ngFor="let lang of languages" [value]="lang">
        {{'SHARED_LIB.LANGUAGES.' + lang | uppercase | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'DIALOGS.PASSWORD_RESET_REQUEST.EMAIL'|translate}}</mat-label>
    <mat-select [(value)]="selectedMail">
      <mat-option *ngFor="let mail of mails" [value]="mail">
        {{mail}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="row">
    <p class="column-size ml-3">{{'DIALOGS.PASSWORD_RESET_REQUEST.LOGIN'|translate}}</p>
    <p>{{selectedLogin.value}}</p>
  </div>
</div>
<div mat-dialog-actions>
  <button
    (click)="onCancel()"
    class="ml-auto"
    mat-flat-button>
    {{'DIALOGS.PASSWORD_RESET_REQUEST.CANCEL'|translate}}
  </button>
  <button
    (click)="onSubmit()"
    [disabled]="loading"
    class="ml-2"
    color="accent"
    mat-flat-button>
    {{'DIALOGS.PASSWORD_RESET_REQUEST.SEND'|translate}}
  </button>
</div>
