<div class="vo-theme">
  <h1 class="page-subtitle">{{'VO_DETAIL.MEMBERS.TITLE' | translate}}</h1>
  <div class="align-elements">
    <div matTooltip="{{'VO_DETAIL.MEMBERS.ADD_MEMBER_DISABLED' | translate}}" [matTooltipDisabled]="!blockManualMemberAdding">
      <button
        *ngIf="addAuth"
        [disabled]="blockManualMemberAdding"
        mat-flat-button
        color="accent"
        class="mr-2"
        (click)="onAddMember()">
        {{'VO_DETAIL.MEMBERS.ADD_MEMBER' | translate}}
      </button>
    </div>
    <button
      *ngIf="inviteAuth"
      mat-flat-button
      color="accent"
      class="mr-2"
      (click)="onInviteMember()">
      {{'VO_DETAIL.MEMBERS.INVITE' | translate}}
    </button>
    <button
      *ngIf="removeAuth"
      mat-flat-button
      color="warn"
      class="mr-2"
      [disabled]="selection.isEmpty()"
      (click)="onRemoveMembers()">
      {{'VO_DETAIL.MEMBERS.REMOVE_MEMBERS' | translate}}
    </button>

    <mat-form-field class="mr-2 fix-select">
      <mat-label>{{'VO_DETAIL.MEMBERS.FILTER_STATUS' | translate}}</mat-label>
      <mat-select [formControl]="statuses" (closed)="changeStatuses()" multiple>
        <mat-select-trigger>
          {{displaySelectedStatuses()}}
        </mat-select-trigger>
        <mat-option class="vo-theme" *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mr-2 search-field">
      <label>
        <input matInput
               autocomplete="false"
               placeholder="{{'VO_DETAIL.MEMBERS.SEARCH_DESCRIPTION' | translate}}"
               (keyup.enter)="onSearchByString()"
               [formControl]="searchControl">
      </label>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      class="mr-2"
      (click)="onSearchByString()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto">
  </mat-spinner>
  <perun-web-apps-members-dynamic-list
    *ngIf="!loading"
    [voId]="vo.id"
    [pageSize]="pageSize"
    (page)="pageChanged($event)"
    [selection]="selection"
    [displayedColumns]="displayedColumns"
    [attrNames]="attrNames"
    [searchString]="searchString"
    [selectedStatuses]="selectedStatuses"
    [updateTable]="updateTable"
  ></perun-web-apps-members-dynamic-list>
</div>
