<div class="user-theme">
  <h1 class="page-subtitle d-flex">
    <mat-icon class="title-icon">assignment_ind</mat-icon>
    <span class="ml-3 mt-1">{{'AUTHORS_PAGE.TITLE' | translate}}</span>
  </h1>
  <div *ngIf="!initLoading">
    <h5>{{ author | userFullName }}{{'AUTHOR_DETAIL.TITLE' | translate}}</h5>
    <div class="mt-3">
      <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
      <button
        mat-flat-button
        color="warn"
        class="mr-2"
        [disabled]="selected.selected.length === 0"
        (click)="removePublication()">
        {{'AUTHOR_DETAIL.REMOVE' | translate}}
      </button>
      <perun-web-apps-publication-filter (filteredPublication)="filterPublication($event)"></perun-web-apps-publication-filter>
    </div>

    <perun-web-apps-publications-list
      *ngIf="!loading"
      [publications]="publications"
      [selection]="selected"
      [pageSize]="pageSize"
      (page)="pageChanged($event)"
      [routerPath]="'/authors/'+author.id"></perun-web-apps-publications-list>
  </div>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading || initLoading"></mat-spinner>
</div>
