<h1 class="page-subtitle">{{'USER_DETAIL.SETTINGS.ATTRIBUTES.TITLE' | translate}}</h1>
<mat-tab-group>
  <mat-tab class="mb-2">
    <ng-template matTabLabel>
      {{'ADMIN_USER.ENTITY' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <app-one-entity-attribute-page [entityId]="userId" [entity]="'user'"></app-one-entity-attribute-page>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="userFacilityAttAuth">
    <ng-template matTabLabel>
      {{'ADMIN_USER.ENTITY' | translate}}
      -
      {{'FACILITY_DETAIL.ENTITY' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <app-two-entity-attribute-page [firstEntity]="'user'" [firstEntityId]="userId"
                                     [secondEntity]="'facility'"></app-two-entity-attribute-page>
    </ng-template>
  </mat-tab>
</mat-tab-group>

