.vert-center {
  vertical-align: inherit !important;
}

.vert-top {
  vertical-align: top;
}

.column-center {
  text-align: center;
}

.align-cards {
  margin: 1rem 1rem 1rem 1rem;
  display: inline-block;
  vertical-align: top;
}

.member-cards {
  margin: 0 -1rem;
}
