<mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
<div *ngIf="!loading">

  <div class="member-cards">
    <div class="align-cards">
      <mat-card class="mat-elevation-z3">
        <mat-card-header>
          <mat-card-title>
            <h1 class="page-subtitle">{{'MEMBER_DETAIL.OVERVIEW.PERSONAL' | translate}}</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="attName">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let attribute" class="font-weight-bold" mat-cell>
                <span *ngIf="attributes.get(attribute)[0] !== null">
                  {{attributes.get(attribute)[0]}}:
                </span>
                <span *ngIf="attributes.get(attribute)[0] === null">
                  {{attribute | attributeFriendlyName}}:
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="attValue">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let attribute" class="column-center" mat-cell>
                {{attributes.get(attribute)[1]}}
              </td>
            </ng-container>
            <tr *matRowDef="let attribute; columns: displayedColumns;" mat-row>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="align-cards">
      <app-member-overview-membership [member]="member" [vo]="vo">
      </app-member-overview-membership>
      <mat-card class="mat-elevation-z3 mt-4" *ngIf="pwdResetAuth">
        <mat-card-header>
          <mat-card-title>
            <h1 class="page-subtitle">{{'MEMBER_DETAIL.OVERVIEW.RESET_PASSWORD' | translate}}</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="column-center">
          <div  [matTooltip]="'MEMBER_DETAIL.OVERVIEW.RESET_DISABLED' | translate"
                [matTooltipDisabled]="logins.length>0">
            <button mat-flat-button color="accent" (click)="requestPwdReset()"  [disabled]="!logins.length">
              {{'MEMBER_DETAIL.OVERVIEW.SEND_REQUEST'|translate}}
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="align-cards" *ngIf="member.sponsored">
      <mat-card class="mat-elevation-z3">
        <mat-card-header>
          <mat-card-title>
            <h1 class="page-subtitle">{{'MEMBER_DETAIL.OVERVIEW.SPONSORSHIP' | translate}}</h1>
          </mat-card-title>
          <mat-card-subtitle class="mt-n3">
            {{'MEMBER_DETAIL.OVERVIEW.SPONSORED_BY' | translate}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="sponsors.length !== 0">
          <h6 class="d-flex">
            {{'MEMBER_DETAIL.OVERVIEW.SPONSORS' | translate}}:
            <button
              class="ml-auto mt-n2"
              (click)="changeSponsors()"
              mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </h6>
          <table class="w-100" mat-table [dataSource]="sponsorsDataSource">
            <ng-container matColumnDef="sponsors">
              <th *matHeaderCellDef mat-header-cell>{{'MEMBER_DETAIL.OVERVIEW.SPONSOR_NAME' | translate}}</th>
              <td *matCellDef="let sponsor" mat-cell>
                {{sponsor.user | userFullName}}
              </td>
            </ng-container>
            <ng-container matColumnDef="expiration">
            <th *matHeaderCellDef mat-header-cell>{{'MEMBER_DETAIL.OVERVIEW.EXPIRATION_TABLE' | translate}}</th>
            <td *matCellDef="let sponsor" mat-cell>
              <span class="font-italic">{{sponsor.validityTo | parseDate}}</span>
            </td>
            </ng-container>
            <tr *matHeaderRowDef="['sponsors', 'expiration']" mat-header-row></tr>
            <tr *matRowDef="let sponsor; columns: ['sponsors', 'expiration'];" mat-row>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div>
    <perun-web-apps-menu-buttons-field [items]="navItems" [size]="'small'"></perun-web-apps-menu-buttons-field>
  </div>
</div>
