<div [hidden]="dataSource.filteredData.length === 0 || facilities.length === 0" class="card mt-3">
  <div class="card-body">
    <perun-web-apps-table-options (exportData)="exportData($event)"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table
        class="w-100"
        mat-table
        [dataSource]="dataSource"
        matSort matSortActive="id"
        matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'SHARED.COMPONENTS.FACILITIES_LIST.ID' | translate}}</th>
          <td *matCellDef="let facility" class="static-column-size" mat-cell>{{facility.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'SHARED.COMPONENTS.FACILITIES_LIST.NAME' | translate}}</th>
          <td *matCellDef="let facility" mat-cell>{{facility.name}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header>{{'SHARED.COMPONENTS.FACILITIES_LIST.DESCRIPTION' | translate}}</th>
          <td *matCellDef="let facility" mat-cell>{{facility.description}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          [routerLink]="disableRouting ? null : ['/facilities', facility.id]"
          [perunWebAppsMiddleClickRouterLink]="disableRouting ? null : ['/facilities', facility.id]"
          *matRowDef="let facility; columns: displayedColumns;"
          class="dark-hover-list-item"
          mat-row
        >
        </tr>
      </table>
    </div>

    <mat-paginator
      [length]="this.facilities.length"
      [pageSize]="pageSize"
      (page)="page.emit($event)"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<app-alert *ngIf="dataSource.filteredData.length === 0 && facilities.length !== 0" alert_type="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</app-alert>

<app-alert *ngIf="facilities.length === 0" alert_type="warn">
  {{'SHARED.COMPONENTS.FACILITIES_LIST.NO_FACILITIES_WARNING' | translate}}
</app-alert>
