<div class="user-theme">
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <table *ngIf="!loading" class="mt-3 word-break-all">
    <tbody>
    <tr>
      <td class="font-weight-bold">{{'PROFILE_PAGE.NAME'|customTranslate | translate}}</td>
      <td>{{fullName}}</td>
    </tr>
    <tr *ngFor="let attribute of additionalAttributes">
      <td class="font-weight-bold att-name-width">
        <div [matTooltip]="attribute['tooltip_' + currentLang]"
             matTooltipPosition="above">{{attribute['displayName_' + currentLang]}}</div>
      </td>
      <td [ngSwitch]="attribute.attribute.friendlyName" class="w-100">
        <mat-form-field *ngSwitchCase="'preferredLanguage'" class="center-self">
          <mat-select [(value)]="currentLang" class="mb-auto ">
            <mat-option (click)="changeLanguage(lang)" *ngFor="let lang of languages" [value]="lang">
              {{'SHARED_LIB.LANGUAGES.'+ lang | uppercase | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngSwitchCase="'preferredMail'">
          <a class="center-self" href="mailto:{{email}}">{{email}}</a>
          <button (click)="changeEmail()" class="ml-2"
                  mat-stroked-button>{{'PROFILE_PAGE.CHANGE_EMAIL'|customTranslate | translate}}</button>
        </div>

        <mat-form-field *ngSwitchCase="'timezone'" class="center-self">
          <mat-select [(value)]="currentTimezone">
            <mat-option (click)="changeTimeZone(tz)" *ngFor="let tz of timeZones" [value]="tz">
              {{tz}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngSwitchDefault>
          <p *ngIf="!attribute.attribute.value">-</p>
          <perun-web-apps-attribute-value
            *ngIf="attribute.attribute.value"
            [attribute]="attribute.attribute"
            [readonly]="true">
          </perun-web-apps-attribute-value>
        </div>

      </td>
    </tr>
    </tbody>
  </table>
</div>
