<div class="{{theme}} h-100">
  <div class="h-100 d-flex flex-column">
    <h1 mat-dialog-title>{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.TITLE' | translate}}
      : {{this.applicationFormItem.shortname}}</h1>
    <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
    <div *ngIf="!loading" mat-dialog-content class="dialog-container">
      <mat-tab-group color=primary>
        <mat-tab label="{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.BASIC_SETTINGS' | translate}}">
          <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SHORT_NAME' | translate"
                                               [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SHORT_NAME_DESCRIPTION' | translate">
            <mat-form-field class="w-100">
              <input matInput [(ngModel)]="applicationFormItem.shortname">
            </mat-form-field>
          </app-edit-application-form-item-line>
          <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.INPUT_WIDGET' | translate"
                                               [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.INPUT_WIDGET_DESCRIPTION' | translate">
            {{applicationFormItem.type | applicationFormItemType}}
          </app-edit-application-form-item-line>
          <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DISPLAY_ON_APPLICATION' | translate"
                                               [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DISPLAY_ON_APPLICATION_DESCRIPTION' | translate">
            <section>
              <mat-checkbox [ngModel]="this.applicationFormItem.applicationTypes.includes('INITIAL')"
                            (change)="onChangingType('INITIAL')"
                            class="mr-2">
                {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.INITIAL' | translate}}
              </mat-checkbox>
              <mat-checkbox [ngModel]="this.applicationFormItem.applicationTypes.includes('EXTENSION')"
                            (change)="onChangingType('EXTENSION')">
                {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.EXTENSION' | translate}}
              </mat-checkbox>
            </section>
          </app-edit-application-form-item-line>

          <div *ngIf="isApplicationFormItemOfType(['TEXTFIELD', 'FROM_FEDERATION_HIDDEN', 'FROM_FEDERATION_SHOW', 'USERNAME', 'VALIDATED_EMAIL',
                                                    'PASSWORD', 'TEXTAREA', 'TIMEZONE', 'CHECKBOX', 'RADIO', 'COMBOBOX', 'SELECTIONBOX'])">
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.REQUIRED' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.REQUIRED_DESCRIPTION' | translate">
              <section>
                <mat-checkbox [(ngModel)]="this.applicationFormItem.required">
                </mat-checkbox>
              </section>
            </app-edit-application-form-item-line>
            <div *ngIf="typesWithUpdatable.indexOf(this.applicationFormItem.type) > -1">
              <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.UPDATABLE' | translate"
                                                   [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.UPDATABLE_DESCRIPTION' | translate">
                <section>
                  <mat-checkbox [(ngModel)]="this.applicationFormItem.updatable">
                  </mat-checkbox>
                </section>
              </app-edit-application-form-item-line>
            </div>
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SOURCE_ATTRIBUTE' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SOURCE_ATTRIBUTE_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <mat-select [(value)]="applicationFormItem.perunSourceAttribute" disableOptionCentering>
                  <mat-option *ngFor="let attribute of sourceAttributes" [value]="attribute.value">
                    {{attribute.displayName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </app-edit-application-form-item-line>
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DESTINATION_ATTRIBUTE' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DESTINATION_ATTRIBUTE_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <mat-select [(value)]="applicationFormItem.perunDestinationAttribute" disableOptionCentering>
                  <mat-option *ngFor="let attribute of destinationAttributes" [value]="attribute.value">
                    {{attribute.displayName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </app-edit-application-form-item-line>
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.FEDERATION_ATTRIBUTE' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.FEDERATION_ATTRIBUTE_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <mat-select (selectionChange)="federationAttributeschanged()" [(value)]="federationAttribute"
                            disableOptionCentering>
                  <mat-option *ngFor="let attribute of federationAttributes" [value]="attribute.value">
                    {{attribute.displayName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="federationAttribute === 'custom'" class="w-100">
                <mat-form-field class="w-100">
                  <input matInput [(ngModel)]="applicationFormItem.federationAttribute">
                </mat-form-field>
              </div>
            </app-edit-application-form-item-line>
          </div>
          <div *ngIf="isApplicationFormItemOfType(['TEXTFIELD', 'FROM_FEDERATION_HIDDEN', 'FROM_FEDERATION_SHOW', 'USERNAME', 'PASSWORD',
                                                         'TEXTAREA', 'CHECKBOX', 'RADIO', 'COMBOBOX', 'SELECTIONBOX'])">
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.REGEX' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.REGEX_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <input matInput [(ngModel)]="applicationFormItem.regex">
              </mat-form-field>
            </app-edit-application-form-item-line>
          </div>
          <!-- Disabled part -->
          <div *ngIf="typesWithDisabled.indexOf(this.applicationFormItem.type) > -1">
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DISABLED' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DISABLED_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <mat-select [(value)]="applicationFormItem.disabled" disableOptionCentering>
                  <mat-option *ngFor="let value of disabledValues" [value]="value">
                    {{value | applicationFormItemDisabled}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </app-edit-application-form-item-line>
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DISABLED_DEPENDENCY' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.DISABLED_DEPENDENCY_DESCRIPTION' | translate">
              <div class="w-100">
                <perun-web-apps-app-form-item-search-select *ngIf="this.disabledDependencyItem !== null"
                                                            [item]="this.disabledDependencyItem"
                                                            (itemSelected)="this.disabledDependencyItem=$event"
                                                            [items]="possibleDependencyItems">
                </perun-web-apps-app-form-item-search-select>
              </div>
            </app-edit-application-form-item-line>
          </div>
          <!-- Hidden part -->
          <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HIDDEN' | translate"
                                               [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HIDDEN_DESCRIPTION' | translate">
            <mat-form-field class="w-100">
              <mat-select [(value)]="applicationFormItem.hidden" disableOptionCentering>
                <mat-option *ngFor="let value of hiddenValues" [value]="value">
                  {{value | applicationFormItemHidden}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </app-edit-application-form-item-line>
          <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HIDDEN_DEPENDENCY' | translate"
                                               [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HIDDEN_DEPENDENCY_DESCRIPTION' | translate">
            <div class="w-100">
              <perun-web-apps-app-form-item-search-select *ngIf="this.hiddenDependencyItem !== null"
                                                          [item]="this.hiddenDependencyItem"
                                                          (itemSelected)="this.hiddenDependencyItem=$event"
                                                          [items]="possibleDependencyItems">
              </perun-web-apps-app-form-item-search-select>
            </div>
          </app-edit-application-form-item-line>
          <!-- END of TAB 1 -->
        </mat-tab>

        <mat-tab label="{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LANGUAGE_EN' | translate}}">
          <div *ngIf="isApplicationFormItemOfType(['HEADING', 'HTML_COMMENT'])">
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.CONTENT' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.CONTENT_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <textarea matInput [cdkTextareaAutosize]="true"
                          [(ngModel)]="applicationFormItem.i18n['en'].label"></textarea>
              </mat-form-field>
            </app-edit-application-form-item-line>
          </div>

          <div *ngIf="isApplicationFormItemOfType(['TEXTFIELD', 'FROM_FEDERATION_HIDDEN', 'FROM_FEDERATION_SHOW', 'VALIDATED_EMAIL', 'USERNAME',
                                                         'PASSWORD', 'RADIO', 'TEXTAREA', 'COMBOBOX', 'CHECKBOX', 'TIMEZONE', 'SELECTIONBOX',
                                                         'EMBEDDED_GROUP_APPLICATION'])">
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <textarea matInput [(ngModel)]="applicationFormItem.i18n['en'].label"></textarea>
              </mat-form-field>
            </app-edit-application-form-item-line>
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HELP' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HELP_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <textarea matInput [(ngModel)]="applicationFormItem.i18n['en'].help"></textarea>
              </mat-form-field>
            </app-edit-application-form-item-line>
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ERROR' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ERROR_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <textarea matInput [(ngModel)]="applicationFormItem.i18n['en'].errorMessage"></textarea>
              </mat-form-field>
            </app-edit-application-form-item-line>
          </div>
          <div *ngIf="isApplicationFormItemOfType(['SUBMIT_BUTTON', 'AUTO_SUBMIT_BUTTON'])">
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL_BUTTON_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <textarea matInput [(ngModel)]="applicationFormItem.i18n['en'].label"></textarea>
              </mat-form-field>
            </app-edit-application-form-item-line>
          </div>

          <div *ngIf="isApplicationFormItemOfType(['RADIO', 'COMBOBOX', 'CHECKBOX', 'SELECTIONBOX'])">
            <div class="font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.OPTIONS' | translate}}:</div>
            <div class="text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.OPTIONS_DESCRIPTION' | translate}}
            </div>

            <div class="d-flex mt-2 mb-2">
              <button
                mat-flat-button
                class="ml-auto mr-2"
                (click)="sortEnOptionsAZ()">
                <i class="material-icons">arrow_downward</i>
                {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SORT_BY_LABEL_AZ' | translate}}
              </button>

              <button
                mat-flat-button
                class="mr-auto"
                (click)="sortEnOptionsZA()">
                <i class="material-icons">arrow_upward</i>
                {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SORT_BY_LABEL_ZA' | translate}}
              </button>
            </div>

            <div *ngFor="let option of optionsEn">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.VALUE' | translate}}:
              <mat-form-field>
                <input matInput [(ngModel)]="option[0]">
              </mat-form-field>
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate}}:
              <mat-form-field>
                <input matInput [(ngModel)]="option[1]">
              </mat-form-field>
            </div>

            <button
              mat-flat-button
              color="accent"
              class="mr-2"
              (click)="addEnOption()">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ADD_OPTION' | translate}}
            </button>
          </div>

        </mat-tab>

        <mat-tab label="{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LANGUAGE_CS' | translate}}">
          <div *ngIf="isApplicationFormItemOfType(['HEADING', 'HTML_COMMENT'])">
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.CONTENT' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.CONTENT_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <textarea [cdkTextareaAutosize]="true" matInput
                          [(ngModel)]="applicationFormItem.i18n['cs'].label"></textarea>
              </mat-form-field>
            </app-edit-application-form-item-line>
          </div>

          <div *ngIf="isApplicationFormItemOfType(['TEXTFIELD', 'FROM_FEDERATION_HIDDEN', 'FROM_FEDERATION_SHOW', 'VALIDATED_EMAIL', 'USERNAME',
                                                         'PASSWORD', 'RADIO', 'TEXTAREA', 'COMBOBOX', 'CHECKBOX', 'TIMEZONE',
                                                         'SELECTIONBOX', 'EMBEDDED_GROUP_APPLICATION'])">
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <textarea matInput [(ngModel)]="applicationFormItem.i18n['cs'].label"></textarea>
              </mat-form-field>
            </app-edit-application-form-item-line>
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HELP' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.HELP_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <textarea matInput [(ngModel)]="applicationFormItem.i18n['cs'].help"></textarea>
              </mat-form-field>
            </app-edit-application-form-item-line>
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ERROR' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ERROR_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <textarea matInput [(ngModel)]="applicationFormItem.i18n['cs'].errorMessage"></textarea>
              </mat-form-field>
            </app-edit-application-form-item-line>
          </div>
          <div *ngIf="isApplicationFormItemOfType(['SUBMIT_BUTTON', 'AUTO_SUBMIT_BUTTON'])">
            <app-edit-application-form-item-line [label]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate"
                                                 [description]="'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL_BUTTON_DESCRIPTION' | translate">
              <mat-form-field class="w-100">
                <textarea matInput [(ngModel)]="applicationFormItem.i18n['cs'].label"></textarea>
              </mat-form-field>
            </app-edit-application-form-item-line>
          </div>

          <div *ngIf="isApplicationFormItemOfType(['RADIO', 'COMBOBOX', 'CHECKBOX', 'SELECTIONBOX'])">
            <div class="font-weight-bold">{{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.OPTIONS' | translate}}:</div>
            <div class="text-muted font-italic">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.OPTIONS_DESCRIPTION' | translate}}
            </div>

            <div class="d-flex mt-2 mb-2">
              <button
                mat-flat-button
                class="ml-auto mr-2"
                (click)="sortCsOptionsAZ()">
                <i class="material-icons">arrow_downward</i>
                {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SORT_BY_LABEL_AZ' | translate}}
              </button>

              <button
                mat-flat-button
                class="mr-auto"
                (click)="sortCsOptionsZA()">
                <i class="material-icons">arrow_upward</i>
                {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SORT_BY_LABEL_ZA' | translate}}
              </button>
            </div>

            <div *ngFor="let option of optionsCs">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.VALUE' | translate}}:
              <mat-form-field>
                <input matInput [(ngModel)]="option[0]">
              </mat-form-field>
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.LABEL' | translate}}:
              <mat-form-field>
                <input matInput [(ngModel)]="option[1]">
              </mat-form-field>
            </div>


            <button
              mat-flat-button
              color="accent"
              class="mr-2"
              (click)="addCsOption()">
              {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.ADD_OPTION' | translate}}
            </button>
          </div>

        </mat-tab>
      </mat-tab-group>


    </div>
    <div class="d-flex mt-auto" mat-dialog-actions>
      <button
        mat-flat-button
        class="ml-auto mt-auto"
        (click)="cancel()">
        {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.CANCEL_BUTTON' | translate}}
      </button>
      <button
        mat-flat-button
        class="ml-2 mt-auto"
        color="accent"
        [disabled]="loading"
        (click)="submit()">
        {{'DIALOGS.APPLICATION_FORM_EDIT_ITEM.SUBMIT_BUTTON' | translate}}
      </button>
    </div>
  </div>
</div>
