.add-icon {
  font-size: 32px;
  vertical-align: text-top;
}

.dot-icon {
  font-size: small;
  vertical-align: -1px;
}

.passed-icon{
  font-size: 130px;
  color: #288619;
  margin-bottom: 130px;
  padding-right: 120px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
