<h1 class="page-subtitle">{{'GROUP_DETAIL.MEMBERS.TITLE' | translate}}</h1>
<app-alert *ngIf="synchEnabled" alert_type="warn">
  {{'GROUP_DETAIL.MEMBERS.ACTIONS_DISABLED' | translate}}
</app-alert>
<div class="align-elements">
  <perun-web-apps-refresh-button (click)="updateTable = !updateTable"></perun-web-apps-refresh-button>
  <span
    [matTooltipDisabled]="!synchEnabled"
    [matTooltipPosition]="'above'"
    matTooltip="{{'GROUP_DETAIL.MEMBERS.SYNCHRONIZED' | translate}}">
    <div matTooltip="{{'GROUP_DETAIL.MEMBERS.ADD_MEMBER_DISABLED' | translate}}" [matTooltipDisabled]="!blockManualMemberAdding">
      <button
        (click)="onAddMember()"
        *ngIf="addAuth"
        [disabled]="synchEnabled || blockManualMemberAdding"
        class="mr-2"
        color="accent"
        mat-flat-button>
        {{'GROUP_DETAIL.MEMBERS.ADD_MEMBER' | translate}}
      </button>
    </div>
  </span>
  <span
    [matTooltipDisabled]="!synchEnabled"
    [matTooltipPosition]="'above'"
    matTooltip="{{'GROUP_DETAIL.MEMBERS.SYNCHRONIZED' | translate}}">
    <button
      (click)="onInviteMember()"
      *ngIf="inviteAuth"
      [disabled]="synchEnabled"
      class="mr-2"
      color="accent"
      mat-flat-button>
    {{'GROUP_DETAIL.MEMBERS.INVITE_MEMBER' | translate}}
    </button>
  </span>
  <span
    [matTooltipDisabled]="!synchEnabled"
    [matTooltipPosition]="'above'"
    matTooltip="{{'GROUP_DETAIL.MEMBERS.SYNCHRONIZED' | translate}}">
     <button
       (click)="onRemoveMembers()"
       *ngIf="removeAuth"
       [disabled]="selection.isEmpty() || synchEnabled"
       class="mr-2"
       color="warn"
       mat-flat-button>
       {{'GROUP_DETAIL.MEMBERS.REMOVE_MEMBERS' | translate}}
     </button>
  </span>
  <mat-form-field class="mr-2 fix-select">
    <mat-label>{{'GROUP_DETAIL.MEMBERS.FILTER_STATUS' | translate}}</mat-label>
    <mat-select [formControl]="statuses" (closed)="changeVoStatuses()" multiple>
      <mat-select-trigger>
        {{displaySelectedStatuses()}}
      </mat-select-trigger>
      <mat-option class="group-theme" *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="mr-2 fix-select">
    <mat-label>{{'GROUP_DETAIL.MEMBERS.FILTER_GROUP_STATUS' | translate}}</mat-label>
    <mat-select [formControl]="groupStatuses" (closed)="changeGroupStatuses()" multiple>
      <mat-select-trigger>
        {{displaySelectedGroupStatuses()}}
      </mat-select-trigger>
      <mat-option class="group-theme" *ngFor="let status of groupStatusList" [value]="status">{{status}}</mat-option>
    </mat-select>
  </mat-form-field>

  <perun-web-apps-debounce-filter
    class="mt-2 search-field"
    [placeholder]="'GROUP_DETAIL.MEMBERS.SEARCH_DESCRIPTION'"
    (filter)="onSearchByString($event)">
  </perun-web-apps-debounce-filter>
</div>
<mat-spinner *ngIf="loading" class="ml-auto mr-auto">
</mat-spinner>
<perun-web-apps-members-dynamic-list
  *ngIf="!loading"
  [voId]="group.voId"
  [groupId]="group.id"
  [pageSize]="pageSize"
  [selection]="selection"
  [hideColumns]="hideColumns"
  [updateTable]="updateTable"
  [searchString]="searchString"
  [selectedStatuses]="selectedStatuses"
  [selectedGroupStatuses]="selectedGroupStatuses"
  [attrNames]="memberAttrNames"
  (page)="pageChanged($event)">
</perun-web-apps-members-dynamic-list>
