<div [hidden]="dataSource.filteredData.length === 0 || hosts.length === 0" class="card mt-3">

  <perun-web-apps-table-wrapper
    (exportData)="exportData($event)"
    (page)="page.emit($event)"
    [dataLength]="dataSource.filteredData.length"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize">
    <table
      [dataSource]="dataSource"
      class="w-100"
      mat-table
      matSort matSortActive="id"
      matSortDirection="asc" matSortDisableClear>

      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [aria-label]="checkboxLabel()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        color="primary">
          </mat-checkbox>
        </th>
        <td *matCellDef="let host" class="static-column-size" mat-cell>
          <mat-checkbox (change)="$event ? selection.toggle(host) : null"
                        (click)="$event.stopPropagation()"
                        [aria-label]="checkboxLabel(host)"
                        [checked]="selection.isSelected(host)"
                        color="primary">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header>{{'SHARED.COMPONENTS.HOSTS_LIST.TABLE_HOST_ID' | translate}}</th>
        <td *matCellDef="let host" class="static-column-size" mat-cell>{{host.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header>{{'SHARED.COMPONENTS.HOSTS_LIST.TABLE_HOST_NAME' | translate}}</th>
        <td *matCellDef="let host" mat-cell>{{host.hostname}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        *matRowDef="let host; columns: displayedColumns;"
        [perunWebAppsMiddleClickRouterLink]="disableRouting ? null : ['/facilities', this.facilityId, 'hosts', host.id]"
        [routerLink]="disableRouting ? null : ['/facilities', this.facilityId, 'hosts', host.id]"
        class="dark-hover-list-item"
        mat-row
      >
      </tr>
    </table>
  </perun-web-apps-table-wrapper>
</div>

<app-alert *ngIf="dataSource.filteredData.length === 0 && hosts.length !== 0" alert_type="warn">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</app-alert>

<app-alert *ngIf="hosts.length === 0" alert_type="warn">
  {{'SHARED.COMPONENTS.HOSTS_LIST.NO_HOST_WARNING' | translate}}
</app-alert>
