<h1 class="page-subtitle">{{'MEMBER_DETAIL.GROUPS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refreshTable()" *ngIf="!loading"></perun-web-apps-refresh-button>
<button
  *ngIf="!loading && addAuth"
  mat-flat-button
  color="accent"
  (click)="addGroup()"
  class="mr-2">
  {{'MEMBER_DETAIL.GROUPS.ADD' | translate}}
</button>
<span
  *ngIf="!loading"
  [matTooltipDisabled]="list === undefined || (list !== undefined && list.removeAuth)"
  matTooltip="{{'MEMBER_DETAIL.GROUPS.REMOVE_PERMISSION_HINT' | translate}}">
  <button
    *ngIf="!loading"
    mat-flat-button
    color="warn"
    (click)="removeGroup()"
    [disabled]="selection.selected.length === 0 || (list !== undefined && !list.removeAuth)"
    class="mr-2">
    {{'MEMBER_DETAIL.GROUPS.REMOVE' | translate}}
  </button>
</span>
<perun-web-apps-immediate-filter
  (filter)="applyFilter($event)"
  *ngIf="!loading"
  [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.RESOURCES_LIST.TABLE_SEARCH'">
</perun-web-apps-immediate-filter>
<mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
<perun-web-apps-groups-list
  #list
  [pageSize]="pageSize"
  (page)="pageChanged($event)"
  [groups]="groups"
  [hideColumns]="['vo','menu', 'recent']"
  [selection]="selection"
  [filter]="filterValue"
  [memberId]="memberId"
  [disableRouting]="!routeAuth"
  [authType]="'member-groups'"
  (refreshTable)="refreshTable()"
  *ngIf="!loading">
</perun-web-apps-groups-list>
