<div *ngIf="!isLoginScreenShow">
  <perun-web-apps-header [sideNav]="sidenav" id="nav-menu"></perun-web-apps-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="sidebarMode" [ngStyle]="{'background': sideMenuBgColor}"
                 [opened]="!isMobile()" class="side-menu-size" fixedInViewport fixedTopGap="64">
      <perun-web-apps-side-menu [sideNav]="sidenav" class="overflow-hidden"></perun-web-apps-side-menu>
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{'background': contentBackgroundColor}" id="content-inner">
      <div [ngStyle]="{'min-height': getContentHeight()}" id="content-wrap">
        <!--      <perun-web-apps-breadcrumbs></perun-web-apps-breadcrumbs>-->
        <router-outlet></router-outlet>
      </div>

      <div id="footer">
        <perun-web-apps-footer></perun-web-apps-footer>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div *ngIf="isLoginScreenShow">
  <perun-web-apps-login-screen-base [headerColorConfigLabel]="'header_bg_color'"
                                    [application]="'publications'"
                                    [headerTitle]="'HEADER.TITLE' | translate">
  </perun-web-apps-login-screen-base>
</div>

