#footer {
  position: absolute;
  height: 200px;
  bottom: 0;
  width: 100%;

  @media (max-width: 768px) {
    height: 450px;
  }
}

#content-wrap {
  @media (min-width: 600px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  padding-bottom: 25px;
  padding-top: 10px;
  margin: 10px;
}

#content-inner {
  position: relative;
  overflow-x: hidden;
  min-height: calc(100vh - 64px);
}
