<div class="user-theme">
  <h1 class="page-subtitle d-flex">
    <mat-icon class="publications-icon" svgIcon="publications"></mat-icon>
    <span class="ml-3 mt-1">{{'ALL_PUBLICATIONS.TITLE' | translate}}</span>
  </h1>
  <div class="mt-4">
    <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
    <button
      mat-flat-button
      color="warn"
      class="mr-2"
      [disabled]="selected.selected.length === 0"
      (click)="removePublication()">
      {{'ALL_PUBLICATIONS.REMOVE' | translate}}
    </button>
    <perun-web-apps-publication-filter (filteredPublication)="filterPublication($event)"></perun-web-apps-publication-filter>
  </div>

  <perun-web-apps-publications-list
    *ngIf="!loading"
    [publications]="publications"
    [selection]="selected"
    [routerPath]="'/all-publications'"
    [pageSize]="pageSize"
    (page)="pageChanged($event)">
  </perun-web-apps-publications-list>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
</div>
