<div>
  <h1 class="page-subtitle">{{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refresh()"></perun-web-apps-refresh-button>
  <span
    matTooltip="{{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.NO_SPONSORS' | translate}}"
    [matTooltipDisabled]="!(findSponsorsAuth && voSponsors.length === 0)"
    matTooltipPosition="above">
    <button
      *ngIf="!loading && (createAuth || generateAuth)"
      mat-flat-button
      color="accent"
      class="mr-2 dropdown-toggle"
      [disabled]="findSponsorsAuth && voSponsors.length === 0"
      [matMenuTriggerFor]="menu">
      {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.CREATE' | translate}}
    </button>
  </span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="createAuth" (click)="onCreate()">
      {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.CREATE_ONE' | translate}}
    </button>
    <button mat-menu-item *ngIf="generateAuth" (click)="onGenerate()">
      {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.GENERATE' | translate}}
    </button>
  </mat-menu>
  <button
    *ngIf="!loading && setSponsorshipAuth"
    mat-flat-button
    color="accent"
    class="mr-2"
    (click)="onSponsorExistingMember()">
    {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.SPONSOR_EXISTING' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.FILTER'">
  </perun-web-apps-immediate-filter>
  <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
  <app-sponsored-members-list
      *ngIf="!loading"
      [sponsoredMembers]="members"
      [disableRouting]="!routeAuth"
      [selection]="selection"
      [filterValue]="searchString"
      [pageSize]="pageSize"
      (page)="pageChanged($event)"
      (refreshTable)="refresh()"
  ></app-sponsored-members-list>
</div>
