.dashboard-container {
  columns: 300px 2;   //1. minimum width of column, 2. max number of columns
  column-gap: 1rem;
  margin: 0;
}

.dashboard-container div {
  margin: 0 1rem 1rem 0;
  display: inline-block;
  min-width: 300px;
  width: 100%;
}

.home-image {
  transform: scale(1.4);
  margin-right: 0.7rem;
  margin-left: 0.6rem;
}

.text-align {
  text-align: center;
  font-size: 1.25rem;
}

.text-bigger {
  font-size: 1.1rem;
}

.user-icon {
  vertical-align: top;
}

.dashboard {
  position: relative;
  min-height: calc(100vh - 64px - 200px);
  margin-bottom: -60px !important;
  padding-bottom: 50px;
  top: -10px !important;
  left: 0;
  right: 0;
}
