<h1 class="page-subtitle">
  {{'SHARED.COMPONENTS.MANAGERS_PAGE.TITLE' | translate}}
</h1>
<div *ngIf="availableRoles.length !== 0">
  <perun-web-apps-refresh-button *ngIf="!loading" (refresh)="changeUser()"></perun-web-apps-refresh-button>
  <button
    *ngIf="!loading && manageAuth"
    mat-flat-button
    color="accent"
    class="mr-2"
    (click)="selectedMode === 'user' ? addManager() : addGroup()">
    {{'SHARED.COMPONENTS.MANAGERS_PAGE.ADD' | translate}}
  </button>
  <button
    *ngIf="!loading && manageAuth"
    mat-flat-button
    color="warn"
    (click)="selectedMode === 'user' ? removeManager() : removeGroup()"
    [disabled]="selectionUsers.selected.length === 0 && selectionGroups.selected.length === 0">
    {{'SHARED.COMPONENTS.MANAGERS_PAGE.REMOVE' | translate}}
  </button>

  <mat-form-field *ngIf="!loading" class="ml-2">
    <mat-label>{{'SHARED.COMPONENTS.MANAGERS_PAGE.SELECT_MODE' | translate}}</mat-label>
    <mat-select [(value)]="selectedMode" (selectionChange)="changeUser()">
      <mat-option *ngFor="let mode of roleModes" [value]="mode.toLowerCase()">
        {{mode}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="!loading" class="ml-2">
    <mat-label>{{'SHARED.COMPONENTS.MANAGERS_PAGE.SELECT_ROLE' | translate}}</mat-label>
    <mat-select [(value)]="selectedRole" (selectionChange)="changeUser()">
      <mat-option *ngFor="let role of availableRoles" [value]="role">{{role | displayedRole}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <div *ngIf="!loading">

    <app-alert *ngIf="managers && managers.length == 0 && selectedMode === 'user'" alert_type="warn">
      {{'SHARED.COMPONENTS.MANAGERS_PAGE.NO_MANAGERS' | translate}}
    </app-alert>
    <app-users-list
      (page)="pageChanged($event)"
      [pageSize]="pageSize"
      *ngIf="managers && managers.length > 0 && selectedMode === 'user'"
      [users]="managers"
      [disableRouting]="!routeAuth"
      [displayedColumns]="manageAuth ? ['select', 'id', 'name', 'email', 'logins', 'organization'] : ['id', 'name', 'email', 'logins', 'organization']"
      [selection]="selectionUsers">
    </app-users-list>

    <mat-spinner class="ml-auto mr-auto" *ngIf="loading"></mat-spinner>
    <perun-web-apps-groups-list
      (page)="pageChanged($event)"
      [pageSize]="pageSize"
      *ngIf="groups && selectedMode === 'group' && !loading"
      [hideColumns]="manageAuth ? ['menu', 'expiration','vo'] : ['select','expiration', 'menu', 'vo']"
      [groups]="groups"
      [selection]="selectionGroups"
      [disableMembers]="false">
    </perun-web-apps-groups-list>
  </div>
</div>

<app-alert *ngIf="availableRoles.length === 0" alert_type="warn">
  {{'SHARED.COMPONENTS.MANAGERS_PAGE.NO_AVAILABLE_ROLES' | translate}}
</app-alert>
