<h1 class="page-subtitle d-flex">{{'ROLES.TITLE'| translate}}</h1>
<mat-spinner *ngIf="outerLoading" class="ml-auto mr-auto"></mat-spinner>
<mat-accordion *ngIf="!outerLoading">
  <mat-expansion-panel (opened)="getSelfData()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-user-dark' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.SELF' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="!showDescription">
        {{'ROLES.SELF_VOS_ADMIN' | translate}}
      </div>
      <div *ngIf="showDescription">
        {{'ROLES.SELF_VOS' | translate}}
      </div>

      <perun-web-apps-vo-select-table
        [displayedColumns]="['id', 'name', 'shortName']"
        [vos]="vos">
      </perun-web-apps-vo-select-table>

      <div class="mt-5" *ngIf="users.length">
        <div *ngIf="!showDescription">
          {{'ROLES.SELF_IDENTITIES_ADMIN' | translate}}
        </div>
        <div *ngIf="showDescription">
          {{'ROLES.SELF_IDENTITIES' | translate}}
        </div>

        <app-users-list
          [users]="users"
          [disableRouting]="true"
          [displayedColumns]="['user', 'id', 'name']">
        </app-users-list>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getAdminGroupsAndVos()" *ngIf="isGroupAdmin">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-group-black' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.GROUPADMIN' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.GROUPADMIN_GROUPS' | translate}}
      </div>

      <perun-web-apps-groups-list
        [groups]="groups"
        [hideColumns]="['select', 'menu', 'expiration', 'recent']"
      ></perun-web-apps-groups-list>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getGroupsAndVos('GROUPOBSERVER')" *ngIf="isGroupObserver">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-group-black' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.GROUPOBSERVER' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.GROUPOBSERVER_GROUPS' | translate}}
      </div>

      <perun-web-apps-groups-list
        [groups]="groups"
        [hideColumns]="['select', 'menu', 'expiration']"
      ></perun-web-apps-groups-list>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getAdminVos()" *ngIf="isVoAdmin">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-vo-black' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.VOADMIN' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.VOADMIN_VOS' | translate}}
      </div>

      <perun-web-apps-vo-select-table
        [displayedColumns]="['id', 'name', 'shortName']"
        [vos]="vos">
      </perun-web-apps-vo-select-table>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getVos(roles.get('VOOBSERVER').get('Vo'))" *ngIf="isVoObserver">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-vo-black' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.VOOBSERVER' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.VOOBSERVER_VOS' | translate}}
      </div>

      <perun-web-apps-vo-select-table
        [displayedColumns]="['id', 'name', 'shortName']"
        [vos]="vos">
      </perun-web-apps-vo-select-table>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getVos(roles.get('TRUSTEDFACILITYADMIN').get('Vo'))" *ngIf="isTrustedFacilityAdmin">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-vo-black' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.TRUSTEDFACILITYADMIN' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div>
        <div *ngIf="showDescription">
          {{'ROLES.TRUSTEDFACILITYADMIN_VOS' | translate}}
        </div>

        <perun-web-apps-vo-select-table
          [displayedColumns]="['id', 'name', 'shortName']"
          [vos]="vos">
        </perun-web-apps-vo-select-table>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getVos(roles.get('TOPGROUPCREATOR').get('Vo'))" *ngIf="isTopGroupCreator">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-vo-black' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.TOPGROUPCREATOR' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.TOPGROUPCREATOR_VOS' | translate}}
      </div>

      <perun-web-apps-vo-select-table
        [displayedColumns]="['id', 'name', 'shortName']"
        [vos]="vos">
      </perun-web-apps-vo-select-table>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getResourcesData('RESOURCEADMIN')" *ngIf="isResourceAdmin">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-resource-black' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.RESOURCEADMIN' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.RESOURCEADMIN_RESOURCES' | translate}}
      </div>

      <perun-web-apps-resources-list
        [resources]="resources"
        [routingVo]="true"
        [displayedColumns]="['id', 'name', 'vo', 'facility', 'description']">
      </perun-web-apps-resources-list>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getResourcesData('RESOURCEOBSERVER')" *ngIf="isResourceObserver">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-resource-black' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.RESOURCEOBSERVER' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.RESOURCEOBSERVER_RESOURCES' | translate}}
      </div>

      <perun-web-apps-resources-list
        [resources]="resources"
        [routingVo]="true"
        [displayedColumns]="['id', 'name', 'vo', 'facility', 'description']">
      </perun-web-apps-resources-list>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getResourcesData('RESOURCESELFSERVICE')" *ngIf="isResourceSelfService">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-resource-black' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.RESOURCESELFSERVICE' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.RESOURCESELFSERVICE_RESOURCES' | translate}}
      </div>

      <perun-web-apps-resources-list
        [resources]="resources"
        [routingVo]="true"
        [displayedColumns]="['id', 'name', 'vo', 'facility', 'description']">
      </perun-web-apps-resources-list>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getAdminFacilities()" *ngIf="isFacilityAdmin">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-facility-black' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.FACILITYADMIN' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.FACILITYADMIN_FACILITIES' | translate}}
      </div>

      <perun-web-apps-facility-select-table
        [displayedColumns]="['id', 'name', 'description']"
        [facilities]="facilities">
      </perun-web-apps-facility-select-table>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getFacilities('FACILITYOBSERVER')" *ngIf="isFacilityObserver">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-facility-black' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.FACILITYOBSERVER' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.FACILITYOBSERVER_FACILITIES' | translate}}
      </div>

      <perun-web-apps-facility-select-table
        [displayedColumns]="['id', 'name', 'description']"
        [facilities]="facilities">
      </perun-web-apps-facility-select-table>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getMembers()" *ngIf="hasSponsorship">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-user-dark' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.SPONSORSHIP' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.SPONSORSHIP_MEMBERS' | translate}}
      </div>

      <perun-web-apps-members-list
        [members]="members"
        [hideColumns]="['checkbox', 'email', 'logins', 'status', 'groupStatus', 'organization']"
      ></perun-web-apps-members-list>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="getVos(roles.get('SPONSOR').get('Vo'))" *ngIf="isSponsor">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-user-dark' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.SPONSOR' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
      <div *ngIf="showDescription">
        {{'ROLES.SPONSOR_VOS' | translate}}
      </div>

      <perun-web-apps-vo-select-table
        [displayedColumns]="['id', 'name', 'shortName']"
        [vos]="vos">
      </perun-web-apps-vo-select-table>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="isPerunAdmin">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-user-dark' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{'ROLES.PERUN_ADMIN' | translate}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel *ngFor="let role of roleNames" (opened)="getInnerKeys(role)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon mat-card-avatar svgIcon='perun-user-dark' class="mr-2"></mat-icon>
        <p class="mt-auto mb-auto">{{role}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p *ngFor="let key of currentIds" class="role-content">{{key[0]}} ids: {{key[1]}}</p>
  </mat-expansion-panel>
</mat-accordion>
