<div>
  <h1 mat-dialog-title>{{'DIALOGS.TOKEN_EXPIRED.TITLE' | translate}}</h1>
  <div mat-dialog-content class="dialog-container">
    <span class="bigger-font">{{'DIALOGS.TOKEN_EXPIRED.BODY' | translate}}</span>
    <mat-list role="list">
      <mat-list-item class="bold" role="listitem">
        {{'DIALOGS.TOKEN_EXPIRED.EXPIRED' | translate}}
      </mat-list-item>
      <mat-list-item class="bold" role="listitem">
        {{'DIALOGS.TOKEN_EXPIRED.USED' | translate}}
      </mat-list-item>
      <mat-list-item class="bold" role="listitem">
        {{'DIALOGS.TOKEN_EXPIRED.INCORRECT' | translate}}
      </mat-list-item>
    </mat-list>
  </div>
</div>
