<div [class.hide-table]="exporting" [hidden]="authors.length === 0 || dataSource.filteredData.length === 0" class="card mt-2">
  <div class="card-body">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true" [exporter]="exporter"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="w-100"
        mat-table
        matSort
        matSortActive="name"
        matSortDirection="asc"
        matSortDisableClear
        matTableExporter>
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'AUTHORS_LIST.ID' | translate}}</th>
          <td *matCellDef="let author" class="static-column-size" mat-cell>{{author.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'AUTHORS_LIST.NAME' | translate}}</th>
          <td *matCellDef="let author" mat-cell>{{author | userFullName}}</td>
        </ng-container>
        <ng-container matColumnDef="organization">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'AUTHORS_LIST.ORGANIZATION' | translate}}</th>
          <td *matCellDef="let author" mat-cell>{{this.parseAttribute(author, 'organization')}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'AUTHORS_LIST.EMAIL' | translate}}</th>
          <td *matCellDef="let author" mat-cell>{{this.parseAttribute(author, 'preferredMail')}}</td>
        </ng-container>
        <ng-container matColumnDef="numberOfPublications">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'AUTHORS_LIST.NUMBER_OF_PUBLICATIONS' | translate}}</th>
          <td *matCellDef="let author" mat-cell>{{author.authorships.length.toString()}}</td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          *matRowDef="let author; columns: displayedColumns;"
          [routerLink]="['/authors', author.id]"
          [perunWebAppsMiddleClickRouterLink]="['/authors', author.id]"
          class="dark-hover-list-item"
          mat-row>
        </tr>
      </table>
    </div>

    <mat-paginator
      [length]="this.authors.length"
      (page)="page.emit($event)"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>

<app-alert
  *ngIf="authors.length !== 0 && dataSource.filteredData.length === 0"
  [alert_type]="'warn'">
  {{'SHARED_LIB.UI.ALERTS.NO_FILTER_RESULTS_ALERT' | translate}}
</app-alert>

<app-alert
  *ngIf="authors.length === 0"
  [alert_type]="'warn'">
  {{'AUTHORS_LIST.NO_AUTHORS' | translate}}
</app-alert>
