<div>
  <h1 class="page-subtitle">{{'MEMBER_DETAIL.SETTINGS.ATTRIBUTES.TITLE' | translate}}</h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template matTabLabel>
        {{'MEMBER_DETAIL.ENTITY' | translate}}
      </ng-template>
      <perun-web-apps-refresh-button class="mt-2" (refresh)="refreshTable()"></perun-web-apps-refresh-button>
      <button
        *ngIf="!loading"
        mat-flat-button
        class="mr-2 mt-2"
        color="accent"
        (click)="onCreate()">
        {{'MEMBER_DETAIL.SETTINGS.ATTRIBUTES.CREATE' | translate}}
      </button>
      <button
        *ngIf="!loading"
        mat-flat-button
        class="mr-2 mt-2"
        color="accent"
        (click)="onSave()"
        [disabled]="selection.selected.length === 0">
        {{'MEMBER_DETAIL.SETTINGS.ATTRIBUTES.SAVE' | translate}}
      </button>
      <button
        *ngIf="!loading"
        mat-flat-button
        class="mt-2"
        color="warn"
        (click)="onDelete()"
        [disabled]="selection.selected.length === 0">
        {{'MEMBER_DETAIL.SETTINGS.ATTRIBUTES.DELETE' | translate}}
      </button>
      <perun-web-apps-immediate-filter (filter)="applyFilter($event)" [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.ATTRIBUTES_LIST.FILTER'"></perun-web-apps-immediate-filter>
      <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
      <perun-web-apps-attributes-list
        (page)="pageChanged($event)"
        [pageSize]="pageSize"
        #list
        *ngIf="!loading"
        [filterValue]="filterValue"
        [attributes]="attributes"
        [selection]="selection">
      </perun-web-apps-attributes-list>
    </mat-tab>
    <mat-tab *ngIf="memberGroupAttAuth">
      <ng-template matTabLabel>
        {{'MEMBER_DETAIL.ENTITY' | translate}}
        -
        {{'GROUP_DETAIL.ENTITY' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-two-entity-attribute-page [firstEntity]="'member'" [firstEntityId]="memberId"
                                       [secondEntity]="'group'" *ngIf="!loading"></app-two-entity-attribute-page>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="memberResourceAttAuth">
      <ng-template matTabLabel>
        {{'MEMBER_DETAIL.ENTITY' | translate}}
        -
        {{'RESOURCE_DETAIL.ENTITY' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-two-entity-attribute-page [firstEntity]="'member'" [firstEntityId]="memberId"
                                       [secondEntity]="'resource'" *ngIf="!loading"></app-two-entity-attribute-page>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
