<div>
  <h1 class="page-subtitle">{{'MEMBER_DETAIL.SETTINGS.ATTRIBUTES.TITLE' | translate}}</h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template matTabLabel>
        {{'MEMBER_DETAIL.ENTITY' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-one-entity-attribute-page [entity]="'member'" [entityId]="this.memberId">
        </app-one-entity-attribute-page>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="memberGroupAttAuth">
      <ng-template matTabLabel>
        {{'MEMBER_DETAIL.ENTITY' | translate}}
        -
        {{'GROUP_DETAIL.ENTITY' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-two-entity-attribute-page [firstEntity]="'member'" [firstEntityId]="memberId"
                                       [secondEntity]="'group'"></app-two-entity-attribute-page>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="memberResourceAttAuth">
      <ng-template matTabLabel>
        {{'MEMBER_DETAIL.ENTITY' | translate}}
        -
        {{'RESOURCE_DETAIL.ENTITY' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-two-entity-attribute-page [firstEntity]="'member'" [firstEntityId]="memberId"
                                       [secondEntity]="'resource'"></app-two-entity-attribute-page>
      </ng-template>
    </mat-tab>
    <mat-tab class="mb-2">
      <ng-template matTabLabel>
        {{'ADMIN_USER.ENTITY' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-one-entity-attribute-page [entityId]="this.member.userId" [entity]="'user'">
        </app-one-entity-attribute-page>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="userFacilityAttAuth">
      <ng-template matTabLabel>
        {{'ADMIN_USER.ENTITY' | translate}}
        -
        {{'FACILITY_DETAIL.ENTITY' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-two-entity-attribute-page [firstEntity]="'user'" [firstEntityId]="member.userId"
                                       [secondEntity]="'facility'"></app-two-entity-attribute-page>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
