<div class="card mt-2" [hidden]="!values.length">

  <perun-web-apps-table-wrapper
    (exportData)="exportData($event)"
    [dataLength]="dataSource.filteredData.length"
    [pageSize]="pageSize">
    <table [dataSource]="dataSource" class="w-100" mat-table>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
        </th>
        <td *matCellDef="let row" class="static-column-size" mat-cell>
          <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                        (click)="$event.stopPropagation()"
                        [aria-label]="checkboxLabel(row)"
                        [checked]="selection.isSelected(row)"
                        color="primary">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th *matHeaderCellDef class="pl-3" mat-header-cell>{{headerColumnText}}</th>
        <td *matCellDef="let value" class="truncate pl-3" mat-cell>{{value}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        *matRowDef="let key; columns: displayedColumns;"
        class="dark-hover-list-item"
        mat-row>
      </tr>
    </table>
  </perun-web-apps-table-wrapper>
</div>

<app-alert *ngIf="values.length === 0" alert_type="warn">
  {{alertText}}
</app-alert>
