<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.SETTINGS.ATTRIBUTES.TITLE' | translate}}</h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template matTabLabel>
        {{'FACILITY_DETAIL.ENTITY' | translate}}
      </ng-template>
      <app-one-entity-attribute-page [entity]="'facility'" [entityId]="facilityId"></app-one-entity-attribute-page>
    </mat-tab>
    <mat-tab *ngIf="facilityUserAttAuth">
      <ng-template matTabLabel>
        {{'FACILITY_DETAIL.ENTITY' | translate}}
        -
        {{'ADMIN_USER.ENTITY' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-two-entity-attribute-page [firstEntity]="'facility'" [firstEntityId]="facilityId"
                                       [secondEntity]="'user'"></app-two-entity-attribute-page>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
