<div [class.hide-table]="exporting" [hidden]="dataSource.filteredData.length === 0 || publications.length === 0"
     class="card mt-3">
  <div class="card-body">
    <perun-web-apps-table-options (exportEnd)="exporting = false" (exportStart)="exporting = true" [exporter]="exporter"
                                  class="ml-auto"></perun-web-apps-table-options>
    <div class="overflow-auto">
      <table #exporter="matTableExporter"
             [dataSource]="dataSource"
             class="w-100"
             mat-table
             matSort
             matSortActive="title"
             matSortDirection="asc"
             matSortDisableClear
             matTableExporter>
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td *matCellDef="let resource" class="static-column-size" mat-cell>
            <mat-checkbox (change)="$event ? itemSelectionToggle(resource) : null"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(resource)"
                          [checked]="selection.isSelected(resource)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header>{{'PUBLICATIONS_LIST.TABLE_ID' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let publication">{{publication.id}}</td>
        </ng-container>
        <ng-container matColumnDef="lock">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header>{{'PUBLICATIONS_LIST.TABLE_LOCK' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let publication">
            <button mat-icon-button
                    *ngIf="publication.locked"
                    (click)="lockOrUnlockPublication(publication)"
                    (mouseenter)="disabledRouting = true"
                    (mouseleave)="disabledRouting = false"
                    matTooltip="{{'PUBLICATIONS_LIST.LOCKED' | translate}}">
              <mat-icon>lock</mat-icon>
            </button>
            <button mat-icon-button
                    *ngIf="!publication.locked"
                    (click)="lockOrUnlockPublication(publication)"
                    (mouseenter)="disabledRouting = true"
                    (mouseleave)="disabledRouting = false"
                    matTooltip="{{'PUBLICATIONS_LIST.UNLOCKED' | translate}}">
              <mat-icon>lock_open</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header>{{'PUBLICATIONS_LIST.TABLE_TITLE' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let publication">{{publication.title}}</td>
        </ng-container>
        <ng-container matColumnDef="reportedBy">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header>{{'PUBLICATIONS_LIST.TABLE_REPORTED_BY' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let publication">
            <span *ngFor="let author of publication.authors">
              {{author | userFullName}}<br>
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header>{{'PUBLICATIONS_LIST.TABLE_YEAR' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let publication">{{publication.year}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header>{{'PUBLICATIONS_LIST.TABLE_CATEGORY' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let publication">{{publication.categoryName}}</td>
        </ng-container>
        <ng-container matColumnDef="thankedTo">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header>{{'PUBLICATIONS_LIST.TABLE_THANKEDTO' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let publication">
            <span *ngFor="let owner of publication.thanks">
              {{owner.ownerName}}<br>
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="cite">
          <th mat-header-cell *matHeaderCellDef>{{'PUBLICATIONS_LIST.TABLE_CITE' | translate}}</th>
          <td mat-cell class="static-column-size" *matCellDef="let publication">
            <button
              mat-stroked-button
              (click)="showCite(publication)"
              (mouseenter)="disabledRouting = true"
              (mouseleave)="disabledRouting = false">
              {{'PUBLICATIONS_LIST.SHOW_CITE' | translate}}
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          *matRowDef="let publication; columns: displayedColumns;"
          [routerLink]="disabledRouting ? null : [routerPath, publication.id]"
          [perunWebAppsMiddleClickRouterLink]="disabledRouting ? null : [routerPath, publication.id]"
          class="dark-hover-list-item"
          mat-row>
        </tr>
      </table>
    </div>

    <mat-paginator
      [length]="this.publications.length"
      [pageSize]="pageSize"
      (page)="page.emit($event)"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<mat-spinner *ngIf="exporting" class="ml-auto mr-auto"></mat-spinner>

<app-alert *ngIf="publications.length === 0" alert_type="warn">
  {{'PUBLICATIONS_LIST.NO_PUBLICATIONS_FOUND' | translate}}
</app-alert>
