<div>
  <h1 class="page-subtitle">{{'RESOURCE_DETAIL.SETTINGS.ATTRIBUTES.TITLE' | translate}}</h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template matTabLabel>
        {{'RESOURCE_DETAIL.ENTITY' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-one-entity-attribute-page [entity]="'resource'" [entityId]="this.resourceId"></app-one-entity-attribute-page>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="resourceMemberAttAuth">
      <ng-template matTabLabel>
        {{'RESOURCE_DETAIL.ENTITY' | translate}}
        -
        {{'MEMBER_DETAIL.ENTITY' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-two-entity-attribute-page [firstEntity]="'resource'" [firstEntityId]="resourceId"
                                       [secondEntity]="'member'"></app-two-entity-attribute-page>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="resourceGroupAttAuth">
      <ng-template matTabLabel>
        {{'RESOURCE_DETAIL.ENTITY' | translate}}
        -
        {{'GROUP_DETAIL.ENTITY' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-two-entity-attribute-page [firstEntity]="'resource'" [firstEntityId]="resourceId"
                                       [secondEntity]="'group'"></app-two-entity-attribute-page>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
