<div class="user-theme">
  <h1 mat-dialog-title>{{title}}</h1>
  <div *ngIf="!success && !loading" class="dialog-container">
    <mat-form-field *ngIf="mode === 'change'">
      <input matInput [formControl]="oldPasswd" required
             placeholder="{{'DIALOGS.PASSWORD_CHANGE.OLD_PASSWORD' | translate}}">
      <mat-error *ngIf="oldPasswd.invalid">{{'DIALOGS.PASSWORD_CHANGE.ERROR_EMPTY' | translate}}</mat-error>
    </mat-form-field>

    <form [formGroup]="newPasswdForm" class="dialog-container">
      <mat-form-field>
        <input
          [type]="newPasswdForm.get('showPassword').value ? 'text' : 'password'"
          matInput
          formControlName="password"
          required
          [errorStateMatcher]="immediateStateMatcher"
          placeholder="{{'DIALOGS.PASSWORD_CHANGE.NEW_PASSWORD' | translate}}">
        <mat-spinner *ngIf="this.newPasswdForm.get('password').pending" matSuffix [diameter]="18"
                     class="input-spinner"></mat-spinner>
        <mat-icon
          *ngIf="this.newPasswdForm.get('password').dirty && this.newPasswdForm.get('password').errors !== null"
          color="warn" matSuffix
          [matTooltip]="'DIALOGS.PASSWORD_CHANGE.BACKEND_ERROR_LONG' | translate">
          error
        </mat-icon>
        <mat-error
          *ngIf="newPasswdForm.get('password').hasError('required')">{{'DIALOGS.PASSWORD_CHANGE.ERROR_EMPTY' | translate}}</mat-error>
        <mat-error
          *ngIf="newPasswdForm.get('password').hasError('backendError')">{{'DIALOGS.PASSWORD_CHANGE.BACKEND_ERROR' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          [type]="newPasswdForm.get('showPassword').value ? 'text' : 'password'"
          matInput
          formControlName="passwordConfirm"
          required
          [errorStateMatcher]="passwordStateMatcher"
          placeholder="{{'DIALOGS.PASSWORD_CHANGE.NEW_PASSWORD_CONFIRM' | translate}}">
        <mat-error *ngIf="newPasswdForm.hasError('mismatch')">
          {{'DIALOGS.PASSWORD_CHANGE.ERROR_MATCH' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-checkbox class="example-margin"
                    formControlName="showPassword">
        {{'DIALOGS.PASSWORD_CHANGE.SHOW_PASSWORD' | translate}}
      </mat-checkbox>
    </form>
  </div>
  <div *ngIf="!success && !loading" mat-dialog-actions>
    <button
      class="ml-auto"
      mat-flat-button
      (click)="onSubmit()"
      [disabled]="(mode === 'change' && oldPasswd.invalid) || newPasswdForm.invalid"
      color="accent">
      {{'DIALOGS.PASSWORD_CHANGE.SUBMIT' | translate}}
    </button>
  </div>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <div *ngIf="success && !loading">
    {{'DIALOGS.PASSWORD_CHANGE.RESET_SUCCESS' | translate}}
  </div>
</div>
