<div class="user-theme">
  <h1 mat-dialog-title>{{title}}</h1>
  <div mat-dialog-content class="dialog-container">
    <mat-form-field *ngIf="mode === 'change'">
      <input matInput [formControl]="oldPasswd" required
             placeholder="{{'DIALOGS.PASSWORD_CHANGE.OLD_PASSWORD' | translate}}">
      <mat-error *ngIf="oldPasswd.invalid">{{'DIALOGS.PASSWORD_CHANGE.ERROR_EMPTY' | translate}}</mat-error>
    </mat-form-field>

    <form [formGroup]="newPasswdForm" class="form-container">
      <mat-form-field>
        <input matInput formControlName="password" required
               placeholder="{{'DIALOGS.PASSWORD_CHANGE.NEW_PASSWORD' | translate}}">
        <mat-error *ngIf="newPasswdForm.hasError('required', 'password')">
          {{'DIALOGS.PASSWORD_CHANGE.ERROR_EMPTY' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="passwordConfirm" required [errorStateMatcher]="matcher"
               placeholder="{{'DIALOGS.PASSWORD_CHANGE.NEW_PASSWORD_CONFIRM' | translate}}">
        <mat-error *ngIf="newPasswdForm.hasError('mismatch')">
          {{'DIALOGS.PASSWORD_CHANGE.ERROR_MATCH' | translate}}
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button
      class="ml-auto"
      mat-flat-button
      (click)="onSubmit()"
      [disabled]="oldPasswd.invalid || newPasswdForm.invalid"
      color="accent">
      {{'DIALOGS.PASSWORD_CHANGE.SUBMIT' | translate}}
    </button>
  </div>
</div>
