.filter-field {
  max-width:250px !important;
  width:100% !important;
  min-width:initial !important;
}

.disable{
  cursor: not-allowed;
  pointer-events: none;
}

.year-field {
  max-width:80px !important;
  width:100% !important;
  min-width:initial !important;
}
