.nav-caption{
  display: inline-block;
}

.side-menu-item-height {
  height: 40px !important;
}

mat-list-item:hover{
  background: var(--side-hover) !important;
}

.activated {
  background: var(--side-active) !important;
  color: var(--side-text-active) !important;
}
